<style scoped>
  /*#example-one { margin-bottom: 10px; }*/
  [contenteditable="true"] { padding: 10px; outline: 2px dashed #CCC; }
  [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }
</style>



<% @allergens.each do |allergen| %>

        <div class="col-lg-3 col-md-4 col-xs-12 thumb" id="div_riga_<%= allergen.id %>">
                <div style="background-color:white;height:150px;">
                <div id="div_nome_<%=allergen.id %>"><h2><%= allergen.nome %></h2></div>
                <div id="div_descrizione_<%=allergen.id %>">
                  <h4><%= allergen.descrizione %></h4></div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" style="width:120px" id="btn_edita_<%= allergen.id %>">Edita</button>
                <button type="button" class="btn btn-danger btn-lg"  style="width:120px" id="btn_elimina_<%=allergen.id %>">Elimina</button>
                <button type="button" class="btn btn-success btn-lg" style="width:120px;display:none;" id="btn_salva_<%= allergen.id %>">Salva</button>
                <button type="button" class="btn btn-warning btn-lg"  style="width:120px;display:none;" id="btn_annulla_<%=allergen.id %>">Annulla</button>
                <!-- <input type="hidden" id="nascosto_nome_<%= allergen.id %>" value="" />
                <input type="hidden" id="nascosto_descrizione_<%= allergen.id %>" value="ciao" /> -->
                <div id="nascosto_nome_<%=allergen.id %>" style="display:none;"><h2></h2></div>
                <div id="nascosto_descrizione_<%=allergen.id %>" style="display:none;"><h4></h4></div>
        </div>

<% end %>

<script type="text/javascript">

// function inserisci_riga(data) {
//   var  nuova_riga='<div class="col-lg-3 col-md-4 col-xs-12 thumb" id="div_riga_'+ data.id +'"> \
//                    <div style="background-color:white;height:150px;"> \
//                    <div id="div_nome_'+ data.id +'"><h2>'+ data.nome +'</h2></div> \
//                    <div id="div_descrizione_'+ data.id +'"> \
//                    <h4>'+ data.descrizione +'</h4></div> \
//                    </div>\
//                    <button type="button" class="btn btn-primary btn-lg" style="width:120px" id="btn_edita_'+ data.id +'">Edita</button>\
//                    <button type="button" class="btn btn-danger btn-lg"  style="width:120px" id="btn_elimina_'+ data.id +'">Elimina</button>\
//                    <button type="button" class="btn btn-success btn-lg" style="width:120px;display:none;" id="btn_salva_'+ data.id +'">Salva</button>\
//                    <button type="button" class="btn btn-warning btn-lg"  style="width:120px;display:none;" id="btn_annulla_'+ data.id +'">Annulla</button>\
//                    <div id="nascosto_nome_'+ data.id +'" style="display:none;"><h2></h2></div>\
//                    <div id="nascosto_descrizione_'+ data.id +'" style="display:none;"><h4></h4></div>\
//                   </div>';
//     $('#riga').append(nuova_riga);
//     nuova_riga.on('click','btn_edita_'+ data.id,handler());
// }

  // function handler() { alert('hello'); }

  $("button").click(function() {
   //debugger;
   //alert(this.id);
   var tipo_azione=this.id.split('_')[1];
   var div_selezionato=this.id.split('_')[2];

   if (tipo_azione=="elimina") {

     $('#div_riga_' + div_selezionato ).fadeOut(600, function(){ $(this).remove();});

   } else if (tipo_azione=="edita") {
    $('#div_nome_' + div_selezionato ).attr('contenteditable','true');
    $('#div_descrizione_' + div_selezionato ).attr('contenteditable','true');

    $('#btn_edita_' + div_selezionato ).hide();
    $('#btn_elimina_' + div_selezionato ).hide();

    $('#btn_salva_' + div_selezionato ).show();
    $('#btn_annulla_' + div_selezionato ).show();

    $('#nascosto_nome_' + div_selezionato ).html($('#div_nome_' + div_selezionato ).html());
    $('#nascosto_descrizione_' + div_selezionato ).html($('#div_descrizione_' + div_selezionato ).html());

    //alert($('#nascosto_descrizione_' + div_selezionato ).text());
    //alert($('#nascosto_descrizione_' + div_selezionato ).html());
    // alert($('#div_riga_1').val());
    // $('#div_riga_1').hide();
    // $('#div_nome_' + div_selezionato ).text('<h2>SSS</h2>');

  } else if (tipo_azione=="annulla") {

    $('#div_nome_' + div_selezionato ).attr('contenteditable','false');
    $('#div_descrizione_' + div_selezionato ).attr('contenteditable','false');

    $('#btn_edita_' + div_selezionato ).show();
    $('#btn_elimina_' + div_selezionato ).show();

    $('#btn_salva_' + div_selezionato ).hide();
    $('#btn_annulla_' + div_selezionato ).hide();

    $('#div_nome_' + div_selezionato ).html($('#nascosto_nome_' + div_selezionato ).html());
    $('#div_descrizione_' + div_selezionato ).html($('#nascosto_descrizione_' + div_selezionato ).html());

  }  else if (tipo_azione=="salva") {

    $('#div_nome_' + div_selezionato ).attr('contenteditable','false');
    $('#div_descrizione_' + div_selezionato ).attr('contenteditable','false');

    $('#btn_edita_' + div_selezionato ).show();
    $('#btn_elimina_' + div_selezionato ).show();

    $('#btn_salva_' + div_selezionato ).hide();
    $('#btn_annulla_' + div_selezionato ).hide();

    $('#nascosto_nome_' + div_selezionato ).html($('#div_nome_' + div_selezionato ).html());
    $('#nascosto_descrizione_' + div_selezionato ).html($('#div_descrizione_' + div_selezionato ).html());
  }

  // //------------------------------------------------------gestione finestra modale aggiunta riga
  // $('#btn_salva').click(function() {
  //   //alert('Caio');
  //   $('#myModal').modal('toggle');
  //
  //   $.ajax({
  //    type: "POST",
  //    url: "/allergens/",
  //    data: {
  //      allergen: {
  //      nome: $('#frm_nome').val(),
  //      descrizione: $('#frm_descrizione').val(),
  //      img: "",
  //      img1: "",
  //      img2: ""
  //     }
  //    },
  //   success: function(data) {  //ritorna oggetto json senza array
  //   //alert(data.id);
  //   //debugger;
  //   inserisci_riga(data)
  //   return false;
  //   },
  //   error: function(data) {
  //   alert('Attenzione! problemi nell inserimento');
  //   return false;
  //   }
  // });
  // });


  });


</script>
