<style scoped>
  /*#example-one { margin-bottom: 10px; }*/
  [contenteditable="true"] { padding: 10px; outline: 2px dashed #CCC; }
  [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }
</style>



<% @allergens.each do |allergen| %>

        <div class="col-lg-3 col-md-4 col-xs-12 thumb" id="div_riga_<%= allergen.id %>">
                <div style="background-color:white;height:150px;">
                <div id="div_nome_<%=allergen.id %>"><h2><%= allergen.nome %></h2></div>
                <div id="div_descrizione_<%=allergen.id %>">
                  <h4><%= allergen.descrizione %></h4></div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" style="width:120px" id="btn_edita_<%= allergen.id %>">Edita</button>
                <button type="button" class="btn btn-danger btn-lg"  style="width:120px" id="btn_elimina_<%=allergen.id %>">Elimina</button>
                <button type="button" class="btn btn-success btn-lg" style="width:120px;display:none;" id="btn_salva_<%= allergen.id %>">Salva</button>
                <button type="button" class="btn btn-warning btn-lg"  style="width:120px;display:none;" id="btn_annulla_<%=allergen.id %>">Annulla</button>
                <!-- <input type="hidden" id="nascosto_nome_<%= allergen.id %>" value="" />
                <input type="hidden" id="nascosto_descrizione_<%= allergen.id %>" value="ciao" /> -->
                <div id="nascosto_nome_<%=allergen.id %>" style="display:none;"><h2></h2></div>
                <div id="nascosto_descrizione_<%=allergen.id %>" style="display:none;"><h4></h4></div>
        </div>

<% end %>

<script type="text/javascript">
$("button").click(function() {
  if ((this.id != 'btn_salva_add') & (this.id != 'btn_chiudi_add'))  {
  seleziona_azione(this,'statico');
  }
});
function seleziona_azione(data,tipo) {
  //alert(this.id);
  if (tipo=='statico') {
    var tipo_azione=data.id.split('_')[1];
    var div_selezionato=data.id.split('_')[2];
  }
  else if (tipo=='dinamico') {
    var tipo_azione=data.split('_')[1];
    var div_selezionato=data.split('_')[2];
  }

  if (tipo_azione=="elimina") {

    bootbox.confirm("Sei sicuro di voler eliminare: "+ $('#div_nome_' + div_selezionato ).text() + " ?", function(result) {
      if (result==true) {
        $.ajax({
            url: "/allergens/" + div_selezionato,
            type: 'DELETE',
            success: function() {
              $('#div_riga_' + div_selezionato ).fadeOut(600, function(){ $(this).remove();});
            }
        });
      }
     });

    //$('#div_riga_' + div_selezionato ).fadeOut(600, function(){ $(data).remove();});

  } else if (tipo_azione=="edita") {
   $('#div_nome_' + div_selezionato ).attr('contenteditable','true');
   $('#div_descrizione_' + div_selezionato ).attr('contenteditable','true');

   $('#btn_edita_' + div_selezionato ).hide();
   $('#btn_elimina_' + div_selezionato ).hide();

   $('#btn_salva_' + div_selezionato ).show();
   $('#btn_annulla_' + div_selezionato ).show();

   $('#nascosto_nome_' + div_selezionato ).html($('#div_nome_' + div_selezionato ).html());
   $('#nascosto_descrizione_' + div_selezionato ).html($('#div_descrizione_' + div_selezionato ).html());

 } else if (tipo_azione=="annulla") {

   $('#div_nome_' + div_selezionato ).attr('contenteditable','false');
   $('#div_descrizione_' + div_selezionato ).attr('contenteditable','false');

   $('#btn_edita_' + div_selezionato ).show();
   $('#btn_elimina_' + div_selezionato ).show();

   $('#btn_salva_' + div_selezionato ).hide();
   $('#btn_annulla_' + div_selezionato ).hide();

   $('#div_nome_' + div_selezionato ).html($('#nascosto_nome_' + div_selezionato ).html());
   $('#div_descrizione_' + div_selezionato ).html($('#nascosto_descrizione_' + div_selezionato ).html());

 }  else if (tipo_azione=="salva") {
   $.ajax({
    type: "PUT",
    url: "/allergens/" + div_selezionato,
    data: {
      allergen: {
      nome: $('#div_nome_' + div_selezionato).text(),                  //.val() se form .html() compreso di tag
      descrizione: $('#div_descrizione_' + div_selezionato).text(),
      img: "",
      img1: "",
      img2: ""
     }
    },
   success: function(data) {  //ritorna oggetto json senza array
   return false;
   },
   error: function(data) {
   alert('Attenzione! problemi nel salvataggio');
   return false;
   }
 });

   $('#div_nome_' + div_selezionato ).attr('contenteditable','false');
   $('#div_descrizione_' + div_selezionato ).attr('contenteditable','false');

   $('#btn_edita_' + div_selezionato ).show();
   $('#btn_elimina_' + div_selezionato ).show();

   $('#btn_salva_' + div_selezionato ).hide();
   $('#btn_annulla_' + div_selezionato ).hide();

   $('#nascosto_nome_' + div_selezionato ).html($('#div_nome_' + div_selezionato ).html());
   $('#nascosto_descrizione_' + div_selezionato ).html($('#div_descrizione_' + div_selezionato ).html());
 }

 }
</script>
