<!-- Variabili Locali Della View Sul Layout -->
<% provide(:v_titolo, "Media") %>
<% provide(:v_minides, "Archivio Immagini") %>

<% content_for :script_view do %>
<script>

   $(function() {
     $("li.menu").removeClass("active");
     $("li.menu.media").addClass("active");
   });

   $(document).on('change', ':file', function() {
     var input = $(this),
     numFiles = input.get(0).files ? input.get(0).files.length : 1,
     label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
     input.trigger('fileselect', [numFiles, label]);

     <!-- creazione anteprima -->
     var image = this.files[0]
     if (numFiles > 0)
     {
       var reader = new FileReader();
       reader.onload = function(file) {
         var img = new Image();
         console.log(file);
         img.src = file.target.result;
        //  $(img).attr('height','200px');
         $(img).attr('width','250px');  //$(img) punta alla img creata dinamicamente
         $('#target').show();
         $('#target').html(img);
        //  var appo= $('#target').html();
         $("#des_salva").show();
         $("#salva_foto").show();
         $("#descrizione").show();
       }
       reader.readAsDataURL(image);
     }
     else {
       $('#target').html('');
       $("#des_salva").hide();
       $("#salva_foto").hide();
       $("#descrizione").hide();
     }
   });

   $(document).ready( function() {
       $(':file').on('fileselect', function(event, numFiles, label) {
           console.log(numFiles);
           console.log(label);
           $('#nome_file').html(label);
       });
   });

   //crea un form con il contenuto del file e invia la richiesta
   $(document).on('click', '#salva_foto', function(event) {
     event.preventDefault(); //blocca l'azione scatenata dal clic
     //carica loader spinner image
     var imgb = new Image();
     imgb.src =  "/images/squares.gif";
     $('#target').html(imgb);
     $('#target').show();
     //crea form  che contine foto e descrizione
     var file_data = $("#pictureInput").prop("files")[0];
     var form_data = new FormData();
     form_data.append("foto", file_data);
     form_data.append("descrizione", $('#descrizione').val());
     //debugger;
     //disattiva bottoni
     $('#pictureInput').prop("disabled",true);
     $('#salva_foto').prop("disabled",true);

     //invia richista ajax passando il form
     $.ajax({
      type: "POST",
      url: "/media/aggiungi_foto_galleria",
      //dataType: 'script',
      cache: false,
      contentType: false,
      processData: false,
      data :form_data,
      // dataType: "json",
      dataType: 'text',
      success: function(data) {
      //debugger;
      aggiungi_foto_libreria(data);
      //alert('ok');
      //riattiva bottoni di invio
      $('#target').html('');
      // $('#pictureInput').prop("disabled",false);
      // $('#btn_aggiungi_img').prop("disabled",true);
      $("#des_salva").hide();
      $("#salva_foto").hide();
      $("#descrizione").val('');
      $("#descrizione").hide();
      $('#nome_file').html('');
      $('#pictureInput').removeAttr('disabled');
      $('#salva_foto').prop("disabled",false);
      $('#target').html("<h4><strong>Foto Inserita Correttamente !!</strong></h4>").fadeOut(3000);
      // $('#target').html("").fadeIn(1);
      return false;
      },
      error: function(data) {

       alert('errore');
       $('#target').html("<h5>Il Processo Non è Andato a Buon Fine</h5>");
       $('#pictureInput').removeAttr('disabled');
       $('#salva_foto').prop("disabled",false);
       $("#descrizione").val('');
       //riattiva bottoni di invio
       //$('#pictureInput').prop("disabled",false);
       //$('#btn_aggiungi_img').prop("disabled",true);
       //$('#pictureInput').val('');
       return false;
    }
   });
   });

   function aggiungi_foto_libreria(data) {
     //debugger;
     var obj = jQuery.parseJSON(data);  //trasforma stringa in json
     //var dataObject = eval('truncate("'+ obj.descrizione +'" , length:20)');  //compila ruby in javascript
     var descrizione_troncate = jQuery.trim(obj.descrizione).substring(0, 20).trim(this) + "...";

     var nuova_foto= '<div class="col-lg-3 col-md-6 col-xs-6 thumb" id="div_foto_'+ obj.id +'"> \
       <h4 class="box-title" id="des_breve_'+ obj.id +'">&nbsp;'+ descrizione_troncate +'</h4> \
       <input type="hidden" name="des_estesta" value="'+ obj.descrizione +'" id="des_estesa_'+ obj.id +'"> \
       <div class="box-body"> \
       <img class="lazy" data-original="'+ obj.percorso +'" src="'+ obj.percorso +'" data-toggle="modal" data-target="#modifica_media" id="fotoid_'+ obj.id +'"> \
       </div> \
       </div>';
      //  $('.row.pull-left').last().after(nuova_foto).html().fadeIn(3000);
      $('.col-lg-3.col-md-6.col-xs-6.thumb').last().after(nuova_foto).html();
   };


   //Funzione Per Effettuare Ricerche Delle Foto in Base Alla Descrizione
   $(document).on('click', '#cerca_foto', function(event) {
     $('#riga_gallery').html('');
     if ($('#cerca').val().trim()!="") {
       $('#riga_gallery').load('/media/gallery_filtra/'+ $('#cerca').val() ).hide().fadeIn(1000);
     } else {
       $('#riga_gallery').load('/media/gallery_filtra/'+ 'XXXX').hide().fadeIn(1000);
       }
   });

   //Evento Click Della Foto Apro Pagina Dettaglio
   $(document).on('click', '[id^=fotoid]', function(event) {
     event.preventDefault(); //blocca l'azione scatenata da
     //var appo_foto = this;  //attenzione appo_foto diventa come this (by ref)
      //in questo modo appo_foto diventa una array di string appo_foto[0]
     //var appo_foto = $(this);
     //$('.modal-title').html('Modifica Media: ' + appo_foto[0].id.replace('fotoid_',''));
     //$('#frm_descrizione_m').val($('#des_estesa_'+ appo_foto[0].id.replace('fotoid_','')).val());
     //debugger;
     //$('#foto_corrente').val(this.id.replace('fotoid_','')); //memorizza id Corrente
     $('#foto_corrente').val(this.id); //memorizza fotoid Corrente
     //crea una array con tutta la lista di idfoto
     var listaIdFoto=new Array();
     $('[id^=fotoid]').each(function() {
     //console.log(this.id);
     listaIdFoto.push(this.id);
     $('#lista_id_foto').val(JSON.stringify(listaIdFoto)); //memorizza lista in hiddenfile
     });
     $('.modal-title').html('Modifica Media: ' + this.id.replace('fotoid_',''));
     $('#frm_descrizione_m').val($('#des_estesa_'+ this.id.replace('fotoid_','')).val());
     $('#foto_selezionata').html('<img src="'+ this.currentSrc +'" alt="Foto Selezionata" style="width:250px;">');

     //var appo = $(this);
     //$('#foto_selezionata').html(appo.get(0));
     //$('#foto_selezionata').html($("#fotoid_39"));


     //var span= document.createElement('div');
     //span.innerHTML = $(this);
     //$('#foto_selezionata').html(span);
     //$('#foto_selezionata').html($(this).html());
     //$('#foto_selezionata').html($(appo_foto[0]));
     //$('#foto_selezionata').html("$(appo_foto[0])");
     //$('#foto_selezionata').html('<img class="lazy" data-original="/system/media/fotos/000/000/126/medium/pizza1.jpeg?1472598203" data-toggle="modal" data-target="#modifica_media" id="fotoid_126" src="/system/media/fotos/000/000/126/medium/pizza1.jpeg?1472598203" style="display: block;">');
     //var frag = document.createDocumentFragment();
     //frag.appendChild(appo_foto[0]);
     //var html = frag.innerHTML;

   });

   $(function() {
      $("img.lazy").lazyload(
           {
             effect : "fadeIn",
             effectspeed: 3000
           }
      );
    });


   $( document ).ready(function() {
     //$(".img_media_xxx").lazyload({effect : "fadeIn"});
   });

   //Salva Le Modifiche Apportate ALlw Foto
   $(document).on('click', '#btn_modifica_foto', function(event) {
     //debugger;
     var indice = $('#foto_corrente').val().replace('fotoid_','');
     $.ajax({
      type: "PUT",
      url: "/media/modifica_media/" + indice,
      data: {
        descrizione: $('#frm_descrizione_m').val()
      },
      success: function(data) {  //ritorna oggetto json senza array
      bootbox.alert("Descrizione Modificata!");
      if ($('#frm_descrizione_m').val().length > 20) {
        var descrizione_troncata = jQuery.trim($('#frm_descrizione_m').val()).substring(0, 20).trim(this) + "...";
      }
      else {
        var descrizione_troncata = $('#frm_descrizione_m').val();
      }
      //val e text per farlo prendere in schermata principale e in riquadro anteprima
      $("#des_breve_"+ indice).val(descrizione_troncata);
      $("#des_estesa_" + indice).val($('#frm_descrizione_m').val());
      $("#des_breve_"+ indice).text(descrizione_troncata);
      $("#des_estesa_" + indice).text($('#frm_descrizione_m').val());

      return false;
      },
      error: function(data) {
      bootbox.alert("Attenzione! problemi durante il salvataggio , riprova");
      return false;
     }
   });
   });


   $(document).on('click', '#btn_elimina_foto', function(event) {
     //debugger;
     var indice = $('#foto_corrente').val().replace('fotoid_','');
     $.ajax({
      type: "DELETE",
      url: "/media/cancella_media/" + indice,
      success: function() {  //ritorna oggetto json senza array
        bootbox.alert("Foto Cancellata!");
        $('#div_foto_' + indice).fadeOut(600, function(){$(this).remove()});
        return false;
        },
      error: function(data) {
        bootbox.alert("Attenzione! problemi durante l'eliminazione , riprova");
        return false;
      }
    });
   });


   $(document).on('click', '#btn_indietro', function(event) {
     event.preventDefault(); //blocca l'azione scatenata da
     //recupero oggetto array dal campo hidden
     var listaIdFoto= $('#lista_id_foto').val();
     listaIdFoto = JSON.parse(listaIdFoto);
     var indice = listaIdFoto.indexOf($("#foto_corrente").val());
     //se non arrivo all'inizio scorro all'indietro array di fotoid
     if (indice > 0 ) {
         indice = indice - 1;
         var fotocorrente = $("#" + listaIdFoto[indice])
         if (fotocorrente[0].currentSrc.match("^http:") != null) {
           $('#foto_corrente').val(fotocorrente[0].id); //memorizza fotoid Corrente
           $('.modal-title').html('Modifica Media: ' + fotocorrente[0].id.replace('fotoid_',''));
           $('#frm_descrizione_m').val($('#des_estesa_'+ fotocorrente[0].id.replace('fotoid_','')).val());
           $('#foto_selezionata').html('<img src="'+ fotocorrente[0].currentSrc +'" alt="Foto Selezionata" style="width:250px;">');
         }
     }
   });

   $(document).on('click', '#btn_avanti', function(event) {
     event.preventDefault(); //blocca l'azione scatenata da
     //recupero oggetto array dal campo hidden
     var listaIdFoto= $('#lista_id_foto').val();
     listaIdFoto = JSON.parse(listaIdFoto);
     var indice = listaIdFoto.indexOf($("#foto_corrente").val());
     //se non arrivo alla fine scorro in avanti array di fotoid
     if (indice < listaIdFoto.length-1) {
         indice = indice + 1;
         var fotocorrente = $("#" + listaIdFoto[indice])
         //verifico se ho una foto valida .match("^http:") = inizia .match("http:$") = finisce
         if (fotocorrente[0].currentSrc.match("^http:") != null) {
           $('#foto_corrente').val(fotocorrente[0].id); //memorizza fotoid Corrente
           $('.modal-title').html('Modifica Media: ' + fotocorrente[0].id.replace('fotoid_',''));
           $('#frm_descrizione_m').val($('#des_estesa_'+ fotocorrente[0].id.replace('fotoid_','')).val());
           $('#foto_selezionata').html('<img src="'+ fotocorrente[0].currentSrc +'" alt="Foto Selezionata" style="width:250px;">');
         }
     }
   });

</script>
<% end %>


<section class="content">

<!-- Sezione Anteprima Foto --->
<h4 class="page-header">
    <!-- Libreria Media  &nbsp;  <button type="submit" class="btn btn-primary">Aggiungi Nuovo</button> -->

    <!-- <label class="btn btn-default btn-file">
        Browse <input type="file" style="display: none;" multiple>
    </label> -->
    <small>Scegli L'Immagine Che Vorresti Aggiunger Nella Libreria Media</small>
    <br>
    <span class="btn btn-primary btn-file">
    Scegli ... <input type="file" id="pictureInput" accept=".png,.jpg,.gif">
    </span> &nbsp;
    <span id="nome_file"></span>

    <br><br>

    <div id="target">  <!-- continete anteprima e loader -->
    </div>
    <br>
    <input type="text" class="form-control" id="descrizione" placeholder="Descrizione ..." style="width:350px;display:none;" maxlength="50">

    <br>
    <small id="des_salva" style="display:none;">Clicca Su Salva Per Aggiungere L'immagine Nella Libreria Media</small>
    <br>
    <button type="submit" id="salva_foto" class="btn btn-primary" style="width:120px;height:35px;display:none;">Salva</button>

</h4>

<!-- <div class="form-group pull_left"> -->
    <input type="text" class="form-control pull-left" id="cerca" placeholder="Cerca ..." style="width:200px;" maxlength="50">
    <button type="submit" id="cerca_foto" class="btn btn-primary pull-left" style="width:120px;height:35px;">Cerca</button>
<!-- </div> -->

<br><br><hr>
<!-- Solid boxes -->

<div class="row pull-left" id="riga_gallery">
  <% @media.each_slice(4) do |riga| %>
    <!-- <div class="row pull-left"> -->
    <% riga.each do |m| %>
      <div class="col-lg-3 col-md-6 col-xs-6 thumb" id="<%="div_foto_#{m.id}"%>">
        <!-- <div class="box box-solid"> -->
          <!-- <div class="box-header"> -->
              <h4 class="box-title" id="<%="des_breve_#{m.id}"%>">&nbsp;<%= truncate(m.descrizione , length:20) %></h4>
              <%#= hidden_field(:object, :field, :value => m.descrizione ,:id=>"des_estesa_#{m.id}") %>
              <%#= hidden_field_tag(:des_estesa, value:m.descrizione ,id:"des_estesa_#{m.id}") %>
              <input type="hidden" name="des_estesta" value="<%= m.descrizione %>" id="<%="des_estesa_#{m.id}"%>">
          <!-- </div> -->
          <div class="box-body" id="cazzo-<%= m.id %>">
            <!-- <a href="#" data-toggle="modal" data-target="#modifica_media" id="fotoid_h<%#= m.id %>"> -->
            <%#= image_tag m.foto.url(:medium) ,class:"lazy img_media_xxx" ,data-original:image_tag m.foto.url(:medium) %>
            <img class="lazy" data-original="<%= m.foto.url(:medium) %>" data-toggle="modal" data-target="#modifica_media" id="fotoid_<%= m.id %>">
            <!-- </a> -->
          </div>
        <!-- </div> -->
     </div>
    <% end %>
   <!-- </div> -->
 <% end %>
 </div>

</section><!-- /.content -->

<!-- Modal Modifica Categoria (Html Messo Fuori Dalla Sessione)-->
<div class="modal fade" id="modifica_media" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel2" style="display:inline-block;float:none;margin-right:55%;">Modifica Media</h4>
        <!-- <i class="fa fa-arrow-left" style="align:left;height:50px;"></i> -->

        <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_indietro">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default" aria-label="Left Align" id="btn_avanti">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button>


      </div>
      <div class="modal-body">
        <div hidden id="foto_corrente"></div>
        <div hidden id="lista_id_foto"></div>
        <label for="usr">Foto Selezionata:</label>
        <div id="foto_selezionata"></div>
        <br>
        <label for="usr">Descrizione:</label>
        <input type="text" class="form-control" style="font-weight:bold;" id="frm_descrizione_m" maxlength="50">
      </div>
      <div id="frm_nascosto_id" style="display:none;"></div>
      <div class="modal-footer">
        <!-- togliere data-dismiss="modal" per non chiudere il form -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_elimina_foto">Elimina</button>
        <button type="button" class="btn btn-primary" data-dismiss="no-modal" id="btn_modifica_foto">Salva</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_chiudi_foto">Chiudi</button>
      </div>
    </div>
  </div>
</div>
