<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :user_id %><br>
    <%= f.label :nome %><br>
    <%#= f.number_field :user_id %>
    <%#= text_field_tag @nome_profilo %>
    <%#= text_field_tag "nome_profilo" %>
    <%= text_field_tag :nome_profilo , @nome_profilo , class: "gino" ,id:"ix"  %>

  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_field :descrizione %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--esempi form_for -->
<!--form_for @user, :url => url_for(:controller => 'mycontroller', :action => 'myaction')-->
<!--form_for @user, :url => whatever_path-->
<!--form_for @user, :url => {:action => "YourActionName"}-->
<!--form_for :user, url: {action: "update", params: {id: @user.id}} do |f| -->
<!--render 'form', :locals => {:controller => 'my_controller', :action => 'my_action'} -->
<!--form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form") -->
