<% content_for :script_view do %>
<script>
// $(function() {
//   //debugger;
//   $('#express').load('http://localhost:8000/');
//  });


//elimina variabile
$(document).on('click', '[id*="elimina_variabile_"]', function() {
var indice=this.id.split('_')[2];
 bootbox.confirm("Sei sicuro di voler eliminare la variabile: "+ indice + " ?" , function(result) {
 if (result==true) {
      // $('#variabile_' + indice).fadeOut(600, function(){ $(this).children().remove() });
      // $('#variabile_' + indice).fadeOut(600, function(){ $(this).html("") });
      $('#variabile_' + indice).fadeOut(600, function(){ $(this).remove() });
      // $('#variabile_' + indice).fadeOut(600, function(){ $(this).empty() });
      // $('#txt_nome_var_' + indice).fadeOut(600, function(){ $(this).remove() });
      };
  });
 //bootbox.alert("ok " + indice);
});

//Form Dinamico
var conta_var=0;
function addAllInputs(divName, inputType){
  var newdiv = document.createElement('div');
  switch(inputType) {
    case 'text':
    //newdiv.innerHTML = "Entry " + (counterText + 1) + " <br><input type='text' name='myInputs[]'>";
    //newdiv.innerHTML  = "<div class='row'><div class='col-md-6'>";
    //newdiv.innerHTML = "<input type='text' class='form-control' id='var_txt_" + (counterText + 1) + "' name='var_txt_'"+ (counterText + 1) +" placeholder='' value=''>";
    newdiv.innerHTML = "<b>Casella Di Testo:</b>";
    newdiv.innerHTML +=  "<input type='text' class='form-control' id='txt_nome_var_" + conta_var + "' name='txt_nome_var_'"+ conta_var +" placeholder='Nome' value=''>";
    newdiv.innerHTML +=  "<input type='text' class='form-control' id='txt_val_var_" + conta_var + "' name='txt_val_var_'"+ conta_var +" placeholder='Valore' value=''>";
    newdiv.innerHTML +=  "<button type='button' class='btn btn-danger pull-right' id='elimina_variabile_" + conta_var + "'>Elimina</button>";
    newdiv.innerHTML += "<br>"
    newdiv.setAttribute("id","variabile_"+ conta_var);
    //newdiv.innerHTML += "</div></div>";
    conta_var++;
    break;
    case 'radio':
    newdiv.innerHTML = "Entry " + (counterRadioButton + 1) + " <br><input type='radio' name='myRadioButtons[]'>";
    conta_var++;
    break;
    case 'checkbox':
    newdiv.innerHTML =  "<b>CheckBox:</b>";
    newdiv.innerHTML +=  "<input type='text' class='form-control' id='ckx_nome_var_" + conta_var + "' name='ckx_nome_var_'"+ conta_var +" placeholder='Nome' value=''>";
    newdiv.innerHTML += "<input type='text' class='form-control' id='ckx_var_val_" + conta_var + "' name='ckx_var_val_  '"+ conta_var +" placeholder='Valore' value=''>";
    newdiv.innerHTML += "<br>"
    //newdiv.innerHTML +=  "Entry " + conta_var + " <br><input type='checkbox' name='myCheckBoxes[]'>";
    conta_var++;
    break;
    case 'textarea':
    newdiv.innerHTML = "Entry " + (counterTextArea + 1) + " <br><textarea name='myTextAreas[]'>type here...</textarea>";
    conta_var++;
    break;
  }
  document.getElementById(divName).appendChild(newdiv);
}

//Aggiungi Campo Dinamico Personalizzato
$(document).on('click', '#btn_agg_dinamico', function(event) {
  event.preventDefault();
  //debugger;
  //bootbox.alert("pronti per il dinamco ?");
  addAllInputs('dynamicInputs', $('#inputSelect').val());
});

</script>
<% end %>


<!-- ====== Menu Section ====== -->
<section id="menu">
  <div class="navigation">
    <div id="main-nav" class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MenuApp</a>
        </div> <!-- end .navbar-header -->

        <div class="navbar-collapse collapse">
          <ul id="ulnav" class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard/index">Dashboard</a></li>
            <li>
            <%if user_signed_in? %>
              <%#= link_to "#{current_user.name} LogOut", destroy_user_session_path , method: :delete %>
              <%= link_to "Esci", destroy_user_session_path , method: :delete %>
            <% end %>
            </li>
          </ul>
        </div><!-- end .navbar-collapse -->

      </div> <!-- end .container -->
    </div> <!-- end #main-nav -->
  </div> <!-- end .navigation -->
</section>
<!-- ====== End Menu Section ====== -->


<!-- ====== Subscribe Section ====== -->
<section id="mostra">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Modifica Templates: <%#= @utente.name %></h1>
      <div class="row">
        <div class="col-md-12">
        <p id="notice"><strong><%= notice %></strong></p>
        <%= form_for (@template) do |f| %>
        <%#= form_for @utente, :url => url_for(:controller => 'profiles', :action => 'aggiorna_utente') , :html => {:method => :put}  do |f| %>
        <%#= form_for @utente, :url => url_for(:controller => 'profiles', :action => 'aggiorna_utente') do |f| %>
        <%#= form_for(@profile) do |f| %>
          <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>Campo Template</th>
                <th>Valore</th>
              </tr>
            </thead>
            <tr>
            <td>Template Id:</td>
            <td><%= @template.id %></td>
            <%= f.hidden_field :id %>
            </tr>
            <tr>
            <td>Nome:</td>
            <td contenteditable="false"><%= f.text_field :nome , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Descrizione:</td>
            <td contenteditable="false"><%= f.text_field :descrizione , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Img:</td>
            <td contenteditable="false"><%= f.text_field :img , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Ordine:</td>
            <td contenteditable="false"><%= f.text_field :ordine %></td>
            </tr>
            <tr>
            <td>Variabile A:</td>
            <td contenteditable="false"><%= f.text_area :variabile_a , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Variabile B:</td>
            <td contenteditable="false"><%= f.text_area :variabile_b , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Tipo:</td>
            <td contenteditable="false"><%= f.text_field :tipo , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Sorgente:</td>
            <td contenteditable="false"><%= f.text_area :sorgente , class:"testo_enter"%></td>
            </tr>
            <tr>
            <td>Sezioni:</td>
            <td contenteditable="false"><%= f.text_area :sezioni , class:"testo_enter"%></td>
            </tr>
          </table>

          <label for="input_tipo_variabile">Variabili:</label><br>
          <div id="dynamicInputs" class="col-md-6">
          <!-- <div id="dynamicInputs"> -->
            <!-- Segnaposto campi aggiunti dinamicamente  -->
          </div>
          <!--  Form Dinamico -->
          <br>

        </div><!-- questo div è sbagliato ma fa funzionare il layout  -->

          <select class="selectpicker" data-width="80%" id="inputSelect" name="inputSelect">
            <option value="text">TextBox</option>
            <option value="radio">Radio Button</option>
            <option value="checkbox">CheckBox</option>
            <option value="textarea">TextArea</option>
          </select>
          <button type="submit" class="btn btn-primary" id="btn_agg_dinamico">Aggiungi Variabile</button>

          <!-- <button type="button" class="btn btn-success">Salva Utente</button> -->
          <br><br><br>
          <%= f.submit 'Salva Template', :class => 'btn btn-success' %>
          <% end %>
          <hr>
          <%#= link_to 'Edit', edit_profile_path(@profile) %>
          <strong><%= link_to '<--Back', templates_path %></strong>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- <div id="express"></div> -->

<footer> <!--class="navbar-fixed-bottom">-->
  <section class="copyright dark-bg">
    <div class="container">
       <p>© 2016
       <a href="#">MenuApp</a>, All Rights Reserved</p>
    </div>
  </section>
</footer>


<!-- <%= link_to 'New Profile', new_profile_path %>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
$(document).on('click', '[id*="elimina_"]', function(event) {
  event.preventDefault();
  debugger;
  var indice=this.id.split('_')[1];
//  bootbox.confirm("Sei sicuro di voler eliminare  la categoria: "+ $("#titolo_" + indice).text() + " ?", function(result) {
//   if (result==true) {
      $.ajax({
          url: "/profiles/" + indice,
          type: 'DELETE',
          success: function(){
            alert('Utente Eliminato!');
          }
      });
//    }
  });
</script> -->
