<!-- ====== Menu Section ====== -->
<section id="menu">
  <div class="navigation">
    <div id="main-nav" class="navbar navbar-default" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MenuApp</a>
        </div> <!-- end .navbar-header -->

        <div class="navbar-collapse collapse">
          <ul id="ulnav" class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <%if user_signed_in? %>
              <li><a href="/dashboard/index">Dashboard</a></li>
            <% end %>
            <li>
            <%if user_signed_in? %>
              <%#= link_to "#{current_user.name} LogOut", destroy_user_session_path , method: :delete %>
              <%= link_to "LogOut", destroy_user_session_path , method: :delete %>
			      <% else %>
			        <%#= render "devise/shared/links" %>
			        <a href="/users/sign_in">Login</a>
            <% end %>
            </li>
          </ul>
        </div><!-- end .navbar-collapse -->

      </div> <!-- end .container -->
    </div> <!-- end #main-nav -->
  </div> <!-- end .navigation -->
</section>
<!-- ====== End Menu Section ====== -->


<section id="registrazione">
  <div class="footer section-padding">
    <div class="container">
      <h1><strong>Inserisci Template</strong></h1>

      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"form contact", id:"frm_contatti" }) do |f| %>
      <!-- <form action="/receives/registra" class="form contact" id="frm_contatti" method="post"> -->
      <%= form_for (@template), html: {class:"form contact",id:"frm_template"} do |f| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="name" class="sr-only">Nome</label>
              <%= f.text_field :nome, autofocus: true ,class:"form-control", placeholder:"Nome"%>
            </div> <!-- end .form-group -->

            <div class="form-group">
              <label for="descrizione" class="sr-only">Descrizione</label>
              <%= f.text_field :descrizione, autofocus: true ,class:"form-control" , placeholder:"Descrizione" %>
            </div> <!-- end .form-group -->

          </div> <!-- end .form> .row> .col-md-4 -->

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="img" class="sr-only">Img</label>
              <%= f.text_field :img, autocomplete: "off", class:"form-control", placeholder:"Img" %>
            </div> <!-- end .form-group -->

            <div class="form-group">
              <label for="ordine" class="sr-only">Ordine</label>
              <%= f.text_field :ordine, autocomplete: "off" , class:"form-control", placeholder:"Ordine" %>
            </div> <!-- end .form-group -->
            </div>

        </div> <!-- end .form> .row -->
        <button class="btn btn-default contact-submit custom-btn" type="submit" id="btn_salva_dati"><i class="fa fa-hand-o-right"></i>Salva Dati</button>
        <!-- <%= f.submit "Sign up" %> -->

      <!-- </form>  -->
      <% end %>
    </div> <!-- end .container -->
  </div> <!-- end .footer -->
</section>



<footer class="navbar-fixed-bottom">
  <section class="copyright dark-bg">
    <div class="container">
       <p>© 2016
       <a href="#">MenuApp</a>, All Rights Reserved</p>
    </div>
  </section>
</footer>
