<p id="notice"><%= notice %></p>

<p>
  <strong>Descrizione:</strong>
  <%= @medium.descrizione %>
</p>

<p>
  <strong>User:</strong>
  <%= @medium.user_id %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
